* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
}

.container-inside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: 60%;
  margin: 30px auto;
  border-radius: 35px;
  background: rgba(236, 16, 111, 0.5);
  backdrop-filter: blur(4.5px);
  box-shadow: 0 8px 32px 0 rgba(29, 40, 192, 0.521);
}

.container::before {
  content: "";
  background: url("img/bg2.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 110vh;
  z-index: -1;
  filter: brightness(60%);
}

.container-inside h1 {
  margin: 30px auto;
  font-size: 2.2rem;
  margin-bottom: 0px;
  font-weight: 700;
  color: rgba(17, 8, 8, 0.808);
}

.songs-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px auto;
  font-size: 1rem;
  width: 70%;
}

.btn {
  padding: 10px 30px;
  margin: 25px 23px;
  width: 300px;
  height: 70px;
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 40px;
  backdrop-filter: blur(8.5px);
  cursor: pointer;
  transition: all 0.2s ease-in;
  text-align: justify;
  font-size: 1rem;
}

.btn:hover {
  color: white;
  background-color: rgba(104, 9, 45, 0.9);
  width: 345px;
  transition: all 0.2s ease-in;
  box-shadow: 0 8px 32px 0 rgba(240, 38, 156, 0.5);
}

@media screen and (max-width: 900px) {
  .container-inside {
    min-width: 85%;
  }

  .container-inside h1 {
    font-size: 2rem;
  }

  .btn {
    width: 300px;
  }

  .btn:hover {
    width: 325px;
  }
}

@media screen and (max-width: 370px) {
  .container-inside {
    width: 80%;
  }

  .container-inside h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .btn {
    width: 230px;
  }

  .btn:hover {
    width: 240px;
  }
}
